


/*********************************************
*********************************************
             HEADER
*********************************************
*********************************************/



header{
  background-size: contain;
  height: 30em;
  margin:0 10%;
  width:80%;
}
#myCarousel {
  height: 30em;
}
#imageSize {
  min-width: 100%;
  height: 30em;
}


  
/*********************************************
*********************************************
             BODY
*********************************************
*********************************************/


.container-fluid {
    background-color: #04A6DB;
    background: radial-gradient(#04A6DB, #055C61);
    text-align:center;
}



/*********************************************
*********************************************
             TITLE
*********************************************
*********************************************/


.title{
 
  text-align: center;
  text-decoration: none;
  font-family: century;
  font-size: 60px;
  color: #30D199;
  background-color:#69857B;
  text-shadow: 5px 5px 10px #0455B7;
  margin: 0 10% 0 10%;
  
}



/*********************************************
*********************************************
             PHONE NUMBER UNDER NAV
*********************************************
*********************************************/



#call {
  color:#66ff66;
  margin: 2%;
}



/*********************************************
*********************************************
             NAVIGATION
*********************************************
*********************************************/




.links {
  margin: 2% 6% 2% 6%;
  padding: .5%;
  overflow: hidden;
 
}

.links li{
  display: inline-block;
  padding-right: 4%;
}


li a{
  display: block;
  padding: 8px 80px;
   text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-style: oblique;
  color:  white;
  border-radius: 25px;
  background-color:#5AB392;
  text-shadow: 5px 5px 10px #0455B7
}

li a:hover{
  background-color: #69857B;
  box-shadow: 0 0 50px #fff;
}
li a:active {
  background-color: white;
}







/*********************************************
*********************************************
             SABRINA
*********************************************
*********************************************/



.sabrina {
  font-size: 1.5em;
  margin: 2% 20% 3% 20%;
  color: #D8EBED;


}

#sabpic {
  float: right;
  width: 18%;
  padding-left:1.5%;
}

.linkS {
  color: #30D199;
}


/*********************************************
*********************************************
             GENERAL BENEFITS
*********************************************
*********************************************/




#beneFit{
 margin: 0 28% 25% 18%;
 
}

.bullets{
  width:80%;
  margin: 0 3%;
}

.general{
  list-style: outside circle;
  width:60%;
  height:30%;
  float:left;
}

.bullets li{
   list-style: outside circle;
  margin: 0 2% 0 2%;
  font-size:1.5em;
}

#general2 {
  font-size: 1.5em;
}

#benefits2 {
  background:#69857B;
  color:#5AB392;
  text-shadow: 5px 5px 10px #0455B7
}

#home{
 float:right;
}



 
/*********************************************
*********************************************
             OFFERING SERVICES
*********************************************
*********************************************/
 
 
 
 #specialize {
    font-family: century;
  font-size: 60px;
  color: #5CB88E;
    background-color: #69857B;
    margin: 0 20% 0 20%;
    border-radius: 25px;
    text-shadow: 5px 5px 10px #0455B7
 }
.hiddenP {
  color: white;
}
.hiddenDiv:hover {
  background-color:#5CB88E;
  border-radius: 25px;
  box-shadow: 0 0 300px #fff;
}
#basicinfo {
   margin: 1% 35% 5% 35%;
 }

#moreInfo {
  color:#fff;
}
 
 

/*********************************************
*********************************************
             CALL TODAY
*********************************************
*********************************************/
  
  
#callToday {
  color: #30D199;
  margin: 2%;
}
  
  
  
  
  
  
  
  
/*********************************************
*********************************************
             CONTACT INFO
*********************************************
*********************************************/



#contact {
  background:#5CB88E;
  color:#D8EBED;
  text-align: center;
  padding: 1px 0 1px 0;
  margin: .5% 5% .5% 5%;
  border-radius: 25px;
  text-shadow: 5px 5px 10px #0455B7;
}
 
.info {
  color: #D8EBED;
  font-size: 20px;
  width: 60%;
  margin: 0 20%;
  border-left: 2px solid #484848;
  border-right: 2px solid #484848;
}
 
#types{
  width:80%;
  margin-left:8%;
}

#email, #addressInfo, .maps{
  width: 33.3%;
  float: left;
  margin:1%;
}

.map {
    margin: 2%;
 
    
}

#entrance {
  color:white;
}

#email {
  border-left: 2px solid #484848;
  border-right: 2px solid #484848;
}

/*********************************************
*********************************************
             SESSIONS PAGE
*********************************************
*********************************************/


.sessionDescription {
  width:50%;
  margin:2% 25%;
}

#oils{
  float: left;
  padding-right: 2%;
}

.paraGraph {
  font-size: 1.5em;
  padding: 0 2%;
  color: #fff;
  text-align:left;
}

.massageDes {
  background-color:#69857B;
  color:#30D199;
}

.massageDes2 {
  color: #fff;
}

.sessionDes {
  width: 50%;
  margin: 2% 25%;
}

.paraGraph2 {
  font-size: 1.5em;
  color:#fff;
  text-align: left;

}

/*********************************************
*********************************************
             ABOUT ME PAGE
*********************************************
*********************************************/

.aboutMe{
  width:50%;
  margin:0 25%;
}

.moreaboutMe {
  font-size:1.5em;
  color: #fff;
  text-align: left;
  text-indent: 4%;
  
}
#sabrinaPic {
  float: right;
  padding-left: 2%;
}




/*********************************************
*********************************************
             FOOTER
*********************************************
*********************************************/


.top {
  color:#66ff66;
}
#footer {
  margin: 3% auto;
}
