

@media screen and (max-width: 1900px){

.links li {
  padding: 2%;
}


#callToday {
  width:90%;
  overflow:auto;
  
}
  
.sabrina {
    font-size: 1em;
  }
  
#home{
      display: none

   }
#beneFit{
  width:100%;
}

#basicinfo {
   margin: 1% 10% 5% 10%;
 }


}




@media screen and (max-width: 800px){





  
#clip{
  display:none;
}

#sabpic{
  display:none;
}


.general{
   display:none;

}



header, .title {
  width: 100%;
  margin:0;
}
  
}


@media screen and (max-width: 1300px){
  
  
#email, #addressInfo, .maps {
  width:100%;
  border:none;
}
  
.aboutMe {
  width: 80%;
  margin: 0 5%;
}
.moreaboutMe {
  text-align: center;
  text-indent: 6%;
}
 
#sabrinaPic {
  margin:4%;
}
}
 @media screen and (max-width: 1000px){
   
 .links li {
    display: block;
    padding: 2%;
}

#specialize {
  width: 100%;
  margin:0;
}

   
 }
  
