

@media screen and (max-width: 1900px){

  
  .links li {
    display: block;
    overflow: auto;
    padding: 2%;
    
  }
   
  .links {
    margin: 0 25% 0 25%;
    width: 45%;
  }
  

#callToday {
  width:90%;
  overflow:auto;
  
}
  
.sabrina {
    font-size: 1em;
  }
  

   }

@media screen and (max-width: 500px){
    #home{
      display: none;
  }
  .general{
  width: 100%;
}
#beneFits{
  width:100%;
  overflow:auto;
}

  
}



