

@media screen and (max-width: 1900px){

  
  .links li {
    display: block;
    overflow: auto;
    padding: 2%;
    
  }
   
  .links {
    width: 75%;
  }
  

#callToday {
  width:90%;
  overflow:auto;
  
}
  
.sabrina {
    font-size: 1em;
  }
  

   }
@media screen and (max-width: 800px){
    #home{
      display: none;
  }
  
#clip{
  display:none;
}

#sabpic{
  display:none;
}


.general {
  width: 100%;
  margin: 20px ;
}

#beneFits{
  width:100%;
  overflow:auto;
}

.info {
  display:none;
}

#email {
 margin: auto;
}
  
}


